<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Rock Parade</title>
    <link href="app.css" rel="stylesheet"/>
    <link rel="icon" type="image/x-icon" href="favicon.ico"/>
</head>
<body>
    <h3>Welcome to Rock Parade!</h3>
    <p>Here you can organize, perform or take the floor in musical gigs and performances.</p>
    <br>
    <p><a href="/api">Link to API documentation</a></p>

    <rock-parade></rock-parade>

    <script src="angular2-polyfills.js"></script>
    <script src="vendor.js"></script>
    <script src="app.js"></script>
</body>
</html>
