parameters:
    database_host:      127.0.0.1
    database_port:      ~
    database_name:      rockparade
    test_database_name: rockparade_test
    database_user:      root
    database_password:  ~

    # A secret key that's used to generate certain security-related tokens
    secret:             ThisTokenIsNotSoSecretChangeIt
