{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <h3>Welcome to Rock Parade!</h3>
    <p>Here you can organize, perform or take the floor in musical gigs and performances.</p>
    <br>
    <p><a href="/api">Link to API documentation</a></p>
{% endblock %}
